body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
}

nav {
    background-color: #BA55D3;
    width: 20%;
    padding: 20px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center; 
    justify-content: flex-start; 
}

nav h2 {
    color: white; 
}


.ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav li {
    margin-right: 20px;
}

nav a {
    display: block;
    color: white;
    text-decoration: none;
    padding: 10px;
    font-size: 20px;
}

nav a:not(:last-child) {
    margin-bottom: 10px; 
}

.content {
    width: 80%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.profile {
    width: 70%;
    margin-bottom: 20px;
    text-align: center;
}

.profile img {
    max-width: 100%;
    border-radius: 50%;
}

.name-age {
    text-align: center;
    margin-top: 10px; 
    font-size: 18px;
}

.name-section {
    background-color: violet;
    color: white;
    padding: 10px;
    text-align: center;
}

.name-section a {
    color: white;
    text-decoration: none;
    font-size: 24px;
}

.section {
    width: 100%;
    padding: 20px;
    margin-bottom: 20px;
}

.section h2 {
    background-color: violet;
    color: white;
    padding: 10px;
    margin: 0;
}

.section img {
    max-width: 100%;
    margin-bottom: 10px;
}
